<!DOCTYPE html>

<head>
    <title>Cadastro de Anuncio</title>
    <meta charset="UTF-08">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css">

    <script src="/scripts/calculadora.js" defer type="module"></script>



</head>

<header>
    Divulga Tudo
</header>

<body>
    <div class="novocadastro">
        <p> Cadastro de Novo Anúncio</p>
        <form id="cadastro" action="/novocadastro" method="POST">
            <label for-id="nomeanuncio">Nome do anúncio</label>
            <input type="text" name="nomeanuncio" id="nomeanuncio" placeholder="Digite o nome do anúncio">

            <label for-id="cliente">Nome do Cliente</label>
            <input type="text" name="cliente" id="cliente" placeholder="Digite o cliente">

            <label for-id="data-inicio">Data de início</label>
            <input type="date" name="datainicio" id="datainicio">

            <label for-id="data-fim">Data de término</label>
            <input type="date" name="datafim" id="datafim">

            <label for-id="investimento-d">Investimento por dia em reais</label>
            <input type="number" name="investimentod" id="investimentod" class="test"
                placeholder="Digite o valor investido por dia">

            <input type="submit" class="submit" value="Cadastrar">
        </form>
    </div>


    <a href="/">
        <button class="voltar">Voltar para início</button>
    </a>

</body>

</html>