<!DOCTYPE html>

<head>
    <title>Cadastro de Anuncio</title>
    <meta charset="UTF-08">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css">



</head>

<body>
    <header>
        Divulga Tudo
    </header>


    <div class="buttons">
        <a href="/cadastro">
            <button>Cadastrar anúncio</button>
        </a>

        <a href="/relatorio">
            <button>Gerar relatório</button>
        </a>


    </div>
    <div class="texto">
        <p>Anuncie conosco e garanta visibilidade para seu empreendimento!</p>
        <p> Calculamos o alcance do seu post nas redes sociais. </p>
        <p>Cadastre já o seu anúncio!! </p>

    </div>

</body>

</html>