<!DOCTYPE html>

<head>
    <title>Cadastro de Anuncio</title>
    <meta charset="UTF-08">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css">

    <script src="/scripts/calculadora.js" defer type="module"></script>



</head>

<header>
    Divulga Tudo
</header>

<body>


    <h2>Relatório Gerado</h2>
    <ul>
        <li>Valor Total Investido: <b id="reais"></b>
        </li>
        <li>Quantidade máxima de visualizações: <b id="viewsTotais"></b></li>
        <li>Quantidade Máxima de cliques: <b id="clicksTotais"></b> </li>
        <li>Quantidade Máxima de compartilhamentos: <b id="compaTotais"></b> </li>
    </ul>

</body>

<a href="/">
    <button>Voltar para início</button>
</a>

</html>