

* {
    font-family:'Courier New', Courier, monospace;
    background:#fbf3e6;
}

body{
    margin: 20px;
}

header{
    margin-bottom: 30px;
    background:#e4b1a5;
    display: flex;
    align-items: center;  
}

header img {
    width: 100px;
}

header p {
    font-size: 30px;
    font-weight: 900;
    background:#e4b1a5;
}

button, .submit {
    background: rgb(136, 136, 248);
    font-size: 20px;
    border-radius: 8px;
}

.novocadastro{   
    align-items: center;
    justify-content: center;
}

.novocadastro h2{
    font-size: 30px;
   text-align: center;
}

.novocadastro form {
    display: grid;
    align-items: center;
    justify-content: center;   
}

.texto{    
  align-items: center;
  padding: 60px;
}

.texto p{
    font-size: 35px;
    text-align: center; 
}
.texto :nth-child(1){
    font-size: 45px;
    font-weight: 600;
}

input{
    background: white;
    margin-bottom: 20px;
}

.voltar{
    position: fixed;
    bottom: 50px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.lista{
    display: grid;
    grid-template-columns: 50% 50%;
   border-style:solid;
   border-color: cornflowerblue;
   border-width: 1px;
   margin-bottom: 10px;
}

.relatorio p{
    line-height: 5px ;
}

.filtros{
    display: flex;
    justify-content: space-between;
}


