.novocadastro form {
    display: grid;
    align-items: center;
    justify-content: center;
    
}

* {
    font-family:'Courier New', Courier, monospace;
    background:#fbf3e6;
}
body{
    margin: 20px;
}

header{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 30px;
    background:#e4b1a5;
    align-items: center;
}
header img {
    width: 100px;
}

button, .submit {
    background: rgb(136, 136, 248);
    font-size: 20px;
    border-radius: 8px;

}
.texto{
    
  align-items: center;
  padding: 60px;
  
}

.texto p{
    font-size: 40px;
    text-align: center;
    
}

input{
    background: white;
    margin-bottom: 20px;
}
.novocadastro{
   
    align-items: center;
    justify-content: center;
}
.novocadastro p{
    font-size: 30px;
   text-align: center;
}

.voltar{
    position: fixed;
    bottom: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

.lista{
    display: grid;
    grid-template-columns: 50% 50%;
   border-style:solid;
   border-color: cornflowerblue;
   border-width: 1px;
   margin-bottom: 10px;
}
.relatorio p{
    line-height: 5px ;
}
.filtros{
    display: flex;
    justify-content: space-between;
}


